<!DOCTYPE html>
<html>
	<head>
		<title>@{title}</title>
		@{meta}
		<meta charset="UTF-8" />
		<meta name="author" content="Michael K Brewer" />
		<meta name="description" content="Michael Brewer, Software Developer. I work with the full stack, emphasizing Node.js, C#, and the back end." />
		<meta name="keywords" content="" />
		<link rel="copyright" href="copyright.html">
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
		<link rel="stylesheet" href="css/codemirror.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		@{head}
	</head>
	<body>
	
	@{view('_header', {})}
	
	@{body}
	
	@{view('_footer', model)}
	
	<script src="js/jquery.scrolly.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/init.js"></script>
	<script src="js/codemirror.js"></script>
	<script src="beautify.js"></script>
	<script src="codemirror.mode.javascript.js"></script>
	<script src="javascriptobfuscator_unpacker.js"></script>
	<script src="rasterizeHTML.allinone.js"></script>
	<script>
	//	var canvas = document.getElementById("parallaxBG");
	//	var context = canvas.getContext('2d');
	//	var script = js_beautify(jquery.toString());
	//	var html = document.createElement('div');
	//	CodeMirror( html, {value: script, mode: 'javascript', readOnly: 'nocursor'});
	//	raserizeHTML.drawHTML(html, canvas);
	</script>
	@{section('scripts')}

	</body>
</html>
