<div id="top" class="container">
	<nav id="nav">
		<ul class="container">
			<li><a href="#top">Top</a></li>
			<!--
			<li><a href="#work">Work</a></li>
			<li><a href="#portfolio">Portfolio</a></li>
			-->
			<li><a href="#contact">Contact</a></li>
		</ul>
	</nav>
			
	<!-- Header -->
	<header id="header">
		<h1><a href="/" id="logo">Michael K. Brewer</a></h1>
	</header>

</div>
	
<!-- Banner -->
<div id="banner-wrapper">
	<div id="banner" class="container">
		<h2>Software Developer</h2>
		<p>Jack of all trades with an emphasis on the backend with Node.js and .NET.</p>
	</div>
</div>