body {
  color:#333;
  margin-left:auto;
  margin-right:auto;
  width:80%;
}


.header {
  margin-left:auto;
  margin-right:auto;
  width:80%;
  font:normal normal normal 24pt arial,"sans-serif";
  color:#333;
  text-align:center;
}
.subHeader {
  margin-left:auto;
  margin-right:auto;
  width:80%;
  font:normal normal normal 16pt arial,"sans-serif";
  text-align:center;
}

.sectionTitle {
  text-transform:uppercase;
  font:normal normal 900 18pt arial,"sans-serif";
  color:#ccc;
}

.sectionSubTitle {
  position:relative;
  line-height: 0;
  vertical-align: baseline;
  left:-4em;
  bottom:-0.33em;
  text-transform:lowercase;
  font:normal normal 700 14pt arial,"sans-serif";
  color:#333333;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}