body {
  color:#333;
  margin-left:auto;
  margin-right:auto;
  width:80%;
}


.header {
  margin-left:auto;
  margin-right:auto;
  width:80%;
  font:normal normal normal 24pt arial,"sans-serif";
  color:#333;
  text-align:center;
}

.contact {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg); 

  position:fixed;
  bottom: 108px;
  right: -108px;
  
  background-color:#aaa;
  border:1px solid rgba(0, 0, 0, 0.0980392);
  border-radius:2px;
  box-shadow: 0px 0px 6px #888  ;
  padding: 6px;
  
  font-family: "anonymous pro", "consolas", "new courier", "courier", "mono-space";
  font-size: 12pt;
  line-height: 1.5;
 }

.contact img.contactme {
  width: 48px;
  height: 48px;
  border: 2px solid rgba(0,0,0,0);
 }

.contact img.contactme:hover {
  border: 2px solid rgba(96,96,96,1);
	background-color: rgba(128,128,128,0.8);
}

.subHeader {
  margin-left:auto;
  margin-right:auto;
  width:80%;
  font:normal normal normal 16pt arial,"sans-serif";
  text-align:center;
}

.sectionTitle {
  text-transform:uppercase;
  font:normal normal 900 18pt arial,"sans-serif";
  color:#ccc;
}

.sectionSubTitle {
  position:relative;
  line-height: 0;
  vertical-align: baseline;
  left:-4em;
  bottom:-0.33em;
  text-transform:lowercase;
  font:normal normal 700 14pt arial,"sans-serif";
  color:#333333;
}

.nodelink {
  stroke: #333;
  stroke-width: 1.5px;
	opacity: 0.5;
}

.leaflink {
  stroke: #aaa;
  stroke-width: 1.5px;
	opacity: 0.5;
}

.node {
  cursor: pointer;
  fill: #ddd;
  stroke: #bbb;
  stroke-width: 1.5px;
	opacity: 1;
}

.leaf {
	fill: rgba(192,192,192,0.5);
	stroke: rgba(9,9,9,0.5);
	stroke-width: 0px;
	opacity: 1;
}

.leaf .label {
  pointer-events: none;
	color: #333;
	font: normal normal 8pt sans-serif;
	stroke-width: 0;
	fill: #333;
	opacity: 0.6;
}

.node:hover, .node:hover .label, .leaf:hover, .leaf:hover .label{
	font-size: 12pt;
	opacity: 1;
	z-index: 100;
}

.node:hover {
  fill: #bbb;
  stroke: #999;
}

.node:hover .label, .leaf:hover, .leaf:hover .label{
	text-shadow: 1px 1px 1px #888, 0 0 1em #888, 0 0 0.5em #888;
}

.label, .node text {
  pointer-events: none;
	/*text-shadow: 1px 1px 1px black, 0 0 1em black, 0 0 0.5em black;*/
	color: #000;
	font: normal small-caps bold 10pt sans-serif;
	stroke-width: 0;
	fill: #000;
	opacity: 1;
}

 #viz, #detail {
	margin: 2px;
	padding: 2px;
	font: 10pt sans-serif;
	border-radius: 8px;
	pointer-events: all;
	display: inline-block;
}

#detail {
	vertical-align:text-bottom;
	width: 48%;
	height: 500px;
	background: #ddd;
	border: 2px solid #999;
	content: "Click on a node for more details.";
}

#detail ul {
	padding: 10px 0px 0px 25px;
}

#viz {
	width: 48%; /*480px;*/
	height: 500px;
	background: none;
	border: none;
}

#tips {
	display: none;
	opacity: 0;
	z-index: 100000;
	position: absolute;
	width: 160px;
	height: 28px;
	background: #eee;
	border: 1px solid #aaa;
	overflow: hidden;
	font: 10px sans-serif;
	line-height: 14px;
	color: black;
	border-radius: 4px;
	padding: 2px;
}