body {
  color:#333;
  margin-left:auto;
  margin-right:auto;
  width:100%;
}


.header {
  margin-left:auto;
  margin-right:auto;
  width:80%;
  font:normal normal normal 24pt arial,"sans-serif";
  color:#333;
  text-align:center;
}

.contact {
  position:fixed;
  bottom: 2rem;
  right: -2.08rem;

  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);


  background-color:#aaa;
  border:0.04rem solid rgba(0, 0, 0, 0.0980392);
  border-radius:0.08rem;
  box-shadow: 0rem 0rem 0.25rem #888  ;
  padding: 0.25rem;

  font-family: "anonymous pro", "consolas", "new courier", "courier", "mono-space";
  font-size: 10pt;
  line-height: 1.5;
 }

.contact img {
  width: 1.5rem;
  height: 1.5rem;
  border: 0rem;
 }


.subHeader {
  margin-left:auto;
  margin-right:auto;
  width:80%;
  font:normal normal normal 16pt arial,"sans-serif";
  text-align:center;
}

.sectionTitle {
  text-transform:uppercase;
  font:normal normal 900 18pt arial,"sans-serif";
  color:#ccc;
}

.sectionSubTitle {
  position:relative;
  line-height: 0;
  vertical-align: baseline;
  left:-4rem;
  bottom:-8pt;
  text-transform:lowercase;
  font:normal normal 700 14pt arial,"sans-serif";
  color:#333333;
}

.nodelink {
  stroke: #999;
  stroke-width: 0.0667rem;
	opacity: 0.5;
  z-index: 0;
}

.leaflink {
  stroke: #c99;
  stroke-width: 0.0667rem;
	opacity: 0.5;
  visibility: hidden;
  z-index: 0;
}

.node {
  cursor: pointer;
  fill: #ccc;
  stroke: #aaa;
  stroke-width: 0.0667rem;
	opacity: 0.8;
  z-index: 1;
}

.leaf {
	fill: #fcc;
	stroke: #c88;
	stroke-width: 1rem;
	opacity: 0.75;
  visibility: hidden;
  z-index: 2;
}

.node rect {
  transform: translateX(50%);
}

.leaf.show, .leaflink.show {
  visibility: visible;
}

.leaf .label {
  pointer-events: none;
	color: #833;
	font: normal normal 8pt sans-serif;
	stroke-width: 0;
	fill: #833;
	opacity: 0.5;
}

.node:hover, .node:hover .label, .leaf:hover, .leaf:hover .label{
	font-size: 12pt;
	opacity: 1;
	z-index: 3;
}

.node:hover, .node:hover .label{
	text-shadow: 0.04rem 0.04rem 0.04rem lightgray, 0 0 1rem lightgray, 0 0 0.5rem lightgray;
}

.leaf:hover, .leaf:hover .label{
	text-shadow: 0.04rem 0.04rem 0.04rem black, 0 0 1rem black, 0 0 0.5rem black;
}

.label, .node text {
  pointer-events: none;
	color: #000;
	font: normal small-caps bold 10pt sans-serif;
	stroke-width: 0;
	fill: #000;
	opacity: 1;
}

#tips, #viz {
	margin-left: 0.08rem;
  margin-bottom: 0.08rem;
	padding: 0.08rem;
	font: 10pt sans-serif;
	border-radius: 0.08rem;
	pointer-events: all;
	display: inline-block;
}

#tips {
vertical-align:text-bottom;
	width: 40%;
	height: 25rem;
  min-width: 25rem;
	background: lightsteelblue;
	border: 0.08rem solid steelblue;
  overflow-y: scroll;
}

#viz {
	width: 40%;
	height: 25rem;
	background: white;
	border: 0.08rem solid white;
}
