<div class="wrapper style1 first">
	<article class="container" id="top">
	   @{view('_masthead', model.masthead)}
	</article>
</div>
<div class="wrapper style2">
	<article id="work">
	   @{view('_baseSection', model.work)}
	</article>
</div>
<div class="wrapper style3">
	<article id="portfolio">
	   @{view('_baseSection', model.portfolio)}
	</article>
</div>
<div class="wrapper style2">
	<article id="aboutme">
		@{view('_baseSection', model.aboutme)}
	</article>
</div>

<div class="wrapper style4">
	<div class="row">
		<article class="container small featured" id="contact">
			@{model.contact.width = '8u'}
			@{view('_miniSection', model.contact)}
		</article>
		<article class="container small featured" id="social">
			@{model.social.width = '4u'}
			@{view('_miniSection', model.social)}
		</article>
	</div>
</div>

@{section scripts}
<script>
	$('#portfolio').poptrox();
</script>
@{end}